.NavBar{
    z-index: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    height: 12.3vw;
    /* max-height: 50px; */
    justify-content: center;
    /* display: inline-block;  */
    margin:0;
    padding:0;
}
.NavBar li{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    text-align: center;
    /* float: left; */
    display: inline-block;
}
.NavBar :link{
    /* text-emphasis: none; */
    text-decoration: none;
    display: block;
    width:33vw;
    height: auto;
    padding-top: 3.6vw;
}
.NavBar :link :hover{
    /* background-color: gray; */
}
/* .NavBar :link :active{
    background-color: var(--primaryColor);
} */
.NavBar img{
    height:6vw;
    /* max-height: 10px; */
}
/* .cart{
    height: 1vh;
} */
