.App {
  text-align: center;
}
body {
  background-color: #F5F5F5;
}

html {
  scroll-behavior: smooth;
  --primaryColor: #796AC8;
}
@font-face {
  font-family: 'Signatra';
  src: local('Signatra DEMO'), url(../Signatra.otf) format('opentype');
}
.beatLoader{
  margin-top: 35px;
}
a {
  -webkit-tap-highlight-color: transparent;
}
button {
  outline: none;
}