/* it is covering some content */
.AppBar{
    position: static;
    top: 0;
    width: 100%;
    /* background-color: white; */
    overflow: hidden;
    height: auto;
    justify-content: center;
    /* display: inline-block;  */
    margin:0;
    padding:0;
    padding-top: 7px;    
}

.AppBar button{
    display: inline-block;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	/* font: inherit; */
	/* cursor: pointer; */
	outline: inherit;
}

.AppBar h1{
    display: inline-block;
    font-size: 11.5vw;
    width: 75vw;
    color: var(--primaryColor);
    font-family: 'Signatra', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    font-weight: 500;
}
.zipcode img{
    /* height:22px; */
    width: 4.3vw;
    max-width: 40px;
}
.coins img{
    /* height:20px; */
    width: 6vw;
    max-width: 55px;
}
.zipcodeModal{
    z-index: 6;
    position:absolute;
    height: 270px;
    width:60vw;
    display:block;
    background-color: white;
    margin-left: 20vw;   
    margin-top:25vh;   
    border-radius: 15px;
    outline: none;
}
.zipcodeModalOverlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 36, 36, 0.541);
}
.modalDiv{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
}
.zipcodeModal h2{
    font-size: 20px;
}
.modalDiv h2{
    /* color:var(--primaryColor); */
}
.modalDiv img{
    margin-top: 35px;
    height:55px
}
.modalDiv input{
    margin-top: 35px;;
    width: 40vw;
    height: 25px;;
    border:none;
    border-bottom: 1.5px solid rgb(207, 207, 207);
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(112, 112, 112);
    outline: none;
}

.modalDiv button{
    /* display: block; */
    /* width: 20vw; */
    margin-top: 20px;
    border:none;
    background-color: var(--primaryColor);
    height: 30px;
    width: 20vw;
    color:white;
    border-radius: 50px;
}
/* .modalDiv input :active{
    border:none;
} */